body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	background-color: aliceblue;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 50px;
}

.slidecontainer {
	text-align: center;
	font-size: 30px;
	width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 15px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 40px; /* Set a specific slider handle width */
	height: 40px; /* Slider handle height */
	border-radius: 20px;
	background: #04AA6D; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	width: 40px; /* Set a specific slider handle width */
	height: 40px; /* Slider handle height */
	border-radius: 20px;
	background: #04AA6D; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.blurred {
	/*filter: blur(6px);*/
	-webkit-filter: blur(6px);
	-webkit-transition: 0.5s -webkit-filter linear;
}

.button#startButton {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgreen;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 20px;
	width: 200px;
	height: 40px;
	font-size: 30px;
	color: black;
	padding: 4px ;
	cursor:pointer;
}

.button#startButton:active {
	background-color: black;
	border-color: lightgreen;
	color: lightgreen;
}

.button#resetButton {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightcoral;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 20px;
	width: 200px;
	height: 40px;
	font-size: 30px;
	color: black;
	padding: 4px ;
	cursor:pointer;
}

.button#resetButton:active {
	background-color: black;
	border-color: lightcoral;
	color: lightcoral;
}

table.gameboard, td.gameboard {
	border: 2px solid black;
	border-collapse: collapse;
}

table.gameboard {
	display: flex;
	flex-direction: column;
	align-items: center;
}

tr.gameboard {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0px;
	margin: 0px;
	padding: 0px;
}

td.gameboard {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0px;
	width: 100px;
	height: 100px;
	margin: 0px;
	font-family: "Apple Chancery", cursive;
	font-size: 90px;
	animation: cellAnimation 1s infinite;
	background-color: lightyellow;
}

td.gameboard.winnerCell {
	background-color: darkgoldenrod;
}

@keyframes cellAnimation {
	from {
		font-size: 90px;
	}
	to {
		font-size: 95px;
	}
}

table.outcome {
	border:1px solid black;
	min-width: 500px;
	font-family: "Apple Chancery", cursive;
}

th {
	border:1px solid black;
	height: 40px;
	width: 50px;
	text-align: center;
	background-color: #69bfe2;
	font-size: 24px;
}

/* Animation for the headers of Player1 and Player2 names*/
@keyframes thAnimation {
	from {
		font-size: 24px;
	}
	to {
		font-size: 30px;
	}
}

td {
	border:1px solid black;
	height: 40px;
	width: 50px;
	text-align: center;
	background-color: #b2cad4;
	font-size: 24px;
}

.modal {
	display: none; /* Hidden by default */
	position: centered; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 70%; /* Full width */
	height: 100%; /* Full height */
	overflow: none; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	margin-top: -500px;
	opacity: 60%;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	/*margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 100%; /* Could be more or less, depending on screen size */
	font-family: "Apple Chancery", cursive;
	font-size: 40px;
	text-align: center;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}




